services:
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: bei_integration
    container_name: bei_integration_container
    ports:
      - "8080:8080"
    volumes:
      - ./:/app 
    restart: always