/* ========== START Main Filter ========== */
.filter-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.filter-title {
    font-weight: 900 !important;
    margin: 0;
    padding-top: 0;
    font-size: larger !important;
}

.st-bb{
    background-color: #d6c3bf;
    border-radius: 12px;
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
}

li[role="option"] {
    background-color: #d6c3bf;
}

.filter-title {
    font-weight: 600;
    margin: 0;
    padding-top: 0.4rem;
}

.st-emotion-cache-1ikpmoq {
    border-radius: 16px;
    /* background: #FBEFED; */
    padding: 16px;
    box-shadow:
        4px 4px 4px 4px rgba(0,0,0,0.04),
        -1px -1px 4px 4px rgba(0,0,0,0.04);
    border: none;
} 

#main-filter-card div[data-testid="stVerticalBlock"][data-border="true"] {
    border-radius: 18px;
    background-color: #ffffff;
    box-shadow: 0 0 8px 3px rgba(0,0,0,0.04);
    padding: 16px;
}

.st-key-filter-style {
    position: fixed;
    top: 0.4rem;
    z-index: 10000;
    background: rgba(255, 255, 255, 1);
    box-shadow: none;
    border-radius: none;
    /* padding: 20px 20px; */
    margin-bottom: 10px;
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
    overflow: visible !important;
    width: 90%;
    transition: all 0.3s ease;
}

/* ========== END Main Filter ========== */
.st-key-main-financial-overview {
    border-radius: 16px;
    padding: 16px;
    box-shadow:
        4px 4px 4px 4px rgba(0,0,0,0.04),
        -1px -1px 4px 4px rgba(0,0,0,0.04);
    border: none;
    margin-top: 12%;
}

/* ========== START Container Berwarna ========== */
/* Container Financial Highlight */
[class*="financial-highlight"]{
    background: #FBEFED !important;
}

/* Container Financial Highlight */
[class*="grid-financial"] {
    background: #FFFDFD !important;
}

.st-key-grid-financial-highlight-expense {
    text-align: right !important;
    justify-content: right !important;
    justify-items: right !important ;
}
/* ========== END Container Berwarna ========== */


/* ========== START TABS STYLE ========== */
/* Tab aktif (text + underline) */
button[data-baseweb="tab"][aria-selected="true"] {
    color: #902922 !important;
    font-weight: bolder !important;
}

/* Garis bawah tab aktif */
button[data-baseweb="tab"][aria-selected="true"]::after {
    background-color: #902922 !important;
    font-weight: bolder !important;
}

/* Hover Tab*/
button[data-baseweb="tab"]:hover {
    color: #902922;
    font-weight: bolder !important;
}

div[data-baseweb="tab-list"] button[aria-selected="true"] {
    border-bottom: 2px solid #902922 !important;
}
/* ========== END TABS STYLE ========== */

/* ========== START Smart Naratif Card ========== */
.st-emotion-cache-prcgpo p {
    font-size: larger !important;
    font-weight: 800 !important;
}
/* ========== END Smart Naratif Card ========== */

/* EXPANDER WRAPPER */
div[data-testid="stExpander"] > details {
    border-radius: 16px;
    padding: 16px;
    border: none;
    box-shadow:
        4px 4px 4px 4px rgba(0,0,0,0.04),
        -1px -1px 4px 4px rgba(0,0,0,0.04);
    background: #FFFF;
    overflow: hidden; /* penting biar radius kepake */
}

/* Semua isi sel dataframe → rata kanan */
div[data-testid="stDataFrame"] td {
    text-align: right !important;
}

/* Isi kolom FSLI → rata kiri */
div[data-testid="stDataFrame"] td:first-child {
    text-align: left !important;
}
